<header>
    <center>
      <h1 id = "title"><a href = "index.html"><span id='header-fr'>NI FRANÇAIS</span> <span id='header-kr'>NI CORÉEN</span></a></h1>
    Parler de tout et de rien en Français et en Coréen
    </center>
</header>
    <a href="javascript:void(0);" class="hamburger-nav" onclick="toggleMenu()"><i class="fa fa-bars"></i></a>
    <nav id="header-nav">
    <center>
      <a href="{{ site.baseurl }}/index.html">Acceuil</a>
      <a href="{{ site.baseurl }}/carnet.html">Carnet</a>
      <a href="{{ site.baseurl }}/about.html">À Propos</a>
    </center>
    </nav>
